<%# MEGA IMAGE %>
<div class="jumbotron" style="background-image: url('https://newevolutiondesigns.com/images/freebies/city-wallpaper-18.jpg'); background-size:cover; padding-top:10%; padding-bottom:25%; margin-bottom:0px;">
  <div class="container">
    <h1>Construct beautiful websites from tablets</h1>
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div>

<%# FEATURES %>
<div class="container-fluid bg-primary">
  <div class="container gt-vrt-lg">
    <div class="row gt-vrt-lg">
      <div class="col-xs-6 col-md-3">
        <div class="media">
          <a class="media-left media-top" href="#">
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
              <i class="fa fa-check fa-stack-1x"></i>
            </span>
          </a>
          <div class="media-body">
            <h4 class="media-heading">Touch edit</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="media">
          <a class="media-left media-top" href="#">
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
              <i class="fa fa-check fa-stack-1x"></i>
            </span>
          </a>
          <div class="media-body">
            <h4 class="media-heading">Intuitive</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="media">
          <a class="media-left media-top" href="#">
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
              <i class="fa fa-check fa-stack-1x"></i>
            </span>
          </a>
          <div class="media-body">
            <h4 class="media-heading">Middle aligned media</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="media">
          <a class="media-left media-top" href="#">
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
              <i class="fa fa-check fa-stack-1x"></i>
            </span>
          </a>
          <div class="media-body">
            <h4 class="media-heading">Middle aligned media</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# TEAM %>
<div class="container-fluid bg-info">
  <div class="container gt-top-lg">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-header">
          <h1>The Brains <small>We are the team behind Construct</small></h1>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/c0.0.160.160/p160x160/1385759_10151910852119730_1448169290_n.jpg?oh=c099d375ba2aca5c38b6a677f444d939&oe=54FA5CB4&__gda__=1430444345_453c02ffbaaf1abeefa03b4d372f61a0" alt="..." class="img-circle gt-top-lg">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/1937443_10152558326509223_5142043284148004163_n.jpg?oh=26055d0b0e1c4db121cfdf8bb751625a&oe=54FC81E7&__gda__=1428879345_e950fbcf8994fd0802b720cd9b401523" alt="..." class="img-circle gt-top-lg">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p160x160/10570373_10152521847626413_6755414927199030552_n.jpg?oh=e76c3bdf8e5cd361f153d682ff8f239f&oe=553A0176&__gda__=1430738190_bfe88ac572bf53624ff3f504e9484836" alt="..." class="img-circle gt-top-lg">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# TEAM %>
<div class="container-fluid bg-info">
  <div class="container gt-top-lg">
    <div class="row">

      <div class="col-md-6">
        <div class="thumbnail">
          <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/c0.0.160.160/p160x160/1385759_10151910852119730_1448169290_n.jpg?oh=c099d375ba2aca5c38b6a677f444d939&oe=54FA5CB4&__gda__=1430444345_453c02ffbaaf1abeefa03b4d372f61a0" alt="..." class="img-responsive">
        </div>
      </div>

      <div class="col-md-6">
        <div>
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<%# GET NOTIFIED %>
<div class="container-fluid bg-primary">
  <div class="container gt-vrt-lg">
    <div class="row gt-vrt-lg">
      <div class="col-xs-12">
        <div class="pull-left"><h3>Get notified when Construct is ready</h3></div>
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="E-mail">
          </div>
          <button type="submit" class="btn btn-primary btn-lg">Notify me</button>
        </form>
      </div>
    </div>
  </div>
</div>

